<h1> BackChannel Application : Welcome! </h1>

</br>

<h2> New User : <%= link_to "Create account & SignUp", user_accounts_path %> </h2>

</br>

<h2> Existing User : <%= link_to "login", :controller => "admins", :action => "index"%> </h2>

</br>

<h2> New Category : <%= link_to "Create new category", :controller => "categories", :action => "new"%> </h2>

</br>
<h2> Search By : User </h2>

</br>

<h2> Search By : Content </h2>

</br>

<h2> Search By : Category </h2>

